.back-to-top{
  position: fixed;
  background: rgb(253, 34, 34);
  background-image: url("../images/header-background.png");
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  bottom: 1%;
  right: 1%;
  display: none;
  cursor: pointer;

  i{
    font-size: 1.3em;
    color: #FFFFFF;
  }

}


  /*-----------------------*/
 /*    pseudo classes     */
/*-----------------------*/


.back-to-top:hover{
  background: rgb(216, 29, 29);
  background-image: url("../images/header-background.png");

  i{
    font-size: 1.4em;
    transition: 0.2s;
  }

}
