@import "./_variables.scss";


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-theme-color;
  background-image: url("../images/header-background.png");
  color: $font-color1;
  height: 400px;
  width: 100%;
  margin-top: 120px;


}


.profile-picture{
  height: 65%;

  img{
    height: 100%;
  }
}


.profile-name{
  margin-top: 1.5rem;

  span{
    font-size: 2.5rem;
  }
}


  /*-----------------------*/
 /*    media queries      */
/*-----------------------*/


@media only screen and (min-width: 1024px) {
  header{
    width: 40%;
    margin: 10em 3em 2em 2em;
    height: 450px;
    padding-top: 2em;

  }


}