
main{
  width: 90%;
  margin: 0 auto;
  background: transparent;
  
}


  /*-----------------------*/
 /*    media queries      */
/*-----------------------*/


@media only screen and (min-width: 1024px) {
  main{
    width: 55%;
    margin: 8.3em 2em 2em 3em;
  }

}

