nav{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #d79923;
  background-image: url("../images/header-background.png");

  div{
    margin-top: 1.7em;

  }

  .title{
    font-family: Bungee;
    font-size: 1.5em;
    color: #FFFFFF;
  }

}


.newTweetButton {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  color: #FFFFFF;
  gap: 6px;
  position: relative;

  i{
    color: #e73d26;
    position: absolute;
    right: 45%;
    bottom: 33%;
    animation: bounce 1s linear infinite;
  }
}



  /*-----------------------*/
 /*      animations       */
/*-----------------------*/


@keyframes bounce {
  0%, 100% {
    bottom: 25px;
  }
  50% {
    bottom: 30px;
  }
}


  /*-----------------------*/
 /*    media queries      */
/*-----------------------*/


@media only screen and (min-width: 1024px) {
  nav{
    background-color: #4056A1;
    background-image: none;
  }

}