@import "./_variables.scss";

nav{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $secondary-theme-color;
  background-image: url("../images/header-background.png");

  div{
    margin-top: 1.7em;

  }

  .title{
    font-family: Bungee;
    font-size: 1.5em;
    color: $font-color1;
  }

}


.new-tweet-button {
  display: flex;
  height: fit-content;
  margin: auto 0;
  border: none;
  align-items: center;
  gap: 6px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  color: $font-color1;

  i{
    color: #e73d26;
    position: absolute;
    right: 45%;
    height: 0%;
    animation: bounce 1.25s linear infinite;
  }
}



  /*-----------------------*/
 /*      animations       */
/*-----------------------*/


@keyframes bounce {
  0%, 100% {
    top: 30px;
  }
  50% {
    top: 35px;
  }
}


  /*-----------------------*/
 /*    media queries      */
/*-----------------------*/


@media only screen and (min-width: 1024px) {
  nav{
    background-color: $theme-color;
    background-image: none;
  }

}