.tweets-container{
  box-sizing: border-box;
  margin-top: 1.5em;


  .tweet{
    box-sizing: content-box;
    border: 4px solid rgba(0, 0, 0, 0.644);
    margin-top: 1em;
    margin-bottom: 1em;
    height: fit-content;
    font-weight: bold;

  }

}


.author{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 40px;
  
  .profile{
    display: flex;
    justify-content: center;
    align-items: center;
  
    span{
      font-weight:normal;
    }
  
    img{
      height: 40px;
      margin-right: 10px;
    }
  }
  
  
  .handle{
    color: rgba(141, 141, 141, 0.637);
    align-self: center;
  }
}


.message{
  height: 40%;
  width: 97%;
  margin: auto;
  border-bottom: 4px solid rgba(0, 0, 0, 0.644);

  p{
    padding-left: 0.6em;
    padding-right: 0.6em;
    font-weight: bold;
    overflow-wrap: break-word;

  }
}


.message-information{
  padding: 0.725em 1.45em;
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
  font-weight: bold;

  i{
    margin-left: 0.3em;
    color: #4056A1;
    cursor: pointer;
  }
}


  /*-----------------------*/
 /*    pseudo classes     */
/*-----------------------*/


.tweet:hover{
  box-shadow: 5px 5px rgba(141, 141, 141, 0.637) ;
}

.message-information i:hover{
  color: #d79923;
}
