.back-to-top {
  position: fixed;
  background: #fd2222;
  background-image: url("../images/header-background.png");
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  bottom: 1%;
  right: 1%;
  display: none;
  cursor: pointer;
}
.back-to-top i {
  font-size: 1.3em;
  color: #FFFFFF;
}

/*-----------------------*/
/*    pseudo classes     */
/*-----------------------*/
.back-to-top:hover {
  background: #d81d1d;
  background-image: url("../images/header-background.png");
}
.back-to-top:hover i {
  font-size: 1.4em;
  transition: 0.2s;
}
