header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d79923;
  background-image: url("../images/header-background.png");
  color: white;
  height: 400px;
  width: 100%;
  margin-top: 120px;
}

header span{
  font-size: 2.5rem;
}

.profile-picture{
  height: 65%;
}

.profile-picture img{
  height: 100%;
}

.profile-name{
  margin-top: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  header{
    width: 40%;
    margin: 10em 3em 2em 2em;
    height: 450px;
    padding-top: 2em;

  }


}