header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d79923;
  background-image: url("../images/header-background.png");
  color: white;
  height: 400px;
  width: 100%;
}

header h2{
  margin-top: 0;
}