nav{
  height: 120px;
  background-color: #4056A1 ;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color:#FFFFFF;
}

nav #title{ 
  font-family: Bungee;
  font-size: 1.5em;
  margin-left: 1.5em;
  margin-top: 1.4em;
}

#writeNew{
  margin-right: 1.5em;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#writeNew i{
  color: #e73d26;
}