nav{
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 100;

}

nav > div{
  margin-top: 1.7em;
}

nav .title{ 
  font-family: Bungee;
  font-size: 1.5em;
}

.newTweetButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newTweetButton  i{
  color: #e73d26;
}

