.error-message {
  font-size: 0.8em;
  padding: 12px;
  margin: 15px 0 0;
  font-weight: bold;
  display: none;
  border: 3px solid #fd2222;
}

#tweet-text {
  height: 60px;
  width: 100%;
  background: transparent;
  outline: 0;
  border-width: 0 0 4px;
  border-color: rgba(0, 0, 0, 0.644);
  margin: 2em 0 0;
  padding-top: 10px;
  resize: none;
  font-weight: bolder;
}

.tweet-submit {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0 2.5em;
  height: 30px;
  font-family: Bungee;
}
.tweet-submit button {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background-color: #4056A1;
  color: #FFFFFF;
}

/*-----------------------*/
/*    media queries      */
/*-----------------------*/
@media only screen and (min-width: 1024px) {
  #tweet-text {
    margin-top: 1.5em;
  }
}
