.tweet-submit{
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  font-family: Bungee;
}

.tweet-submit button{
  border: none;
  cursor: pointer;
}

form textarea{
  height: 60px;
  width: 100%;
  background: transparent;
  outline: 0;
  border-width: 0 0 4px;
  border-color: rgba(0, 0, 0, 0.644);
  margin: 5px 0px;
  resize: none;
  font-weight: bolder ;
}

.error-message{
  font-size: 0.8em;
  margin-bottom: 10px;
  font-weight: bold;
  display: none;
}